@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
.menu {
  display: flex;
  padding: 1rem 1.5rem;
}

.home{
  width: 100%;
}

.dflex {
  display: flex;
  gap: 3rem;
  padding: 1rem;
  flex-direction: row;
}

.linkstle {
  text-decoration: none;
  font-size: 15px;
  color: #201f22;
  font-weight: 600;
  font-family: inter;
}

.card {
  background: #f9fdfa;
  height: 100%;
  padding: 3.4rem 0rem;
}

.createflx {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 0rem;
  padding-bottom: 0%;
}
.Createfont {
  color: #000;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

.hassleflx {
  display: flex;
  color: #65696d;
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
  padding: 1rem 0rem;
}

.inspired {
  color: #384346;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 500;
  padding: 1rem 0rem;
}

.freefont {
  color: #1fc76a;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 600;
}
.cardpart2 {
  background: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  // height: 60vh;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 2rem 0rem;
  margin-bottom: 0rem;
}

.cardlink {
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #131f2f;
  font-size: 15px;
  font-weight: 400;
  font-family: sans-serif;
  border-radius: 5px;
  width: 100%;
  padding: 0.8rem;
  margin: 1rem 0rem;
  cursor: pointer;
}

.Signfont {
  color: #131f2f;
  font-size: 26px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}

.usefont {
  color: #3b4959;
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
  text-align: center;
}

.emailfont {
  color: #131f2f;
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
}

.inpustyle {
  border: 1px solid #ced4da;
  border-radius: 6px;
  width: 100%;
  height: 45px;
  padding-left: 10px;
}

.company {
  color: #3b4959;
  font-size: 12px;
  font-weight: 400;
  font-family: sans-serif;
}

.Forgot {
  text-align: end;
  color: #3b4959;
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
  text-decoration: underline;
  padding: 0.5rem 0rem;
}

.Signinbtn {
  background: #1fc76a;
  width: 100%;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  height: 45px;
  border: none;
  border-radius: 5px;
  margin: 0.5rem 0rem;
}

.yourfont {
  color: #1fc76a;
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  padding: 0.5rem 0rem;
}

.yourfont1 {
  color: #000;
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}

.estyleflx {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dblock {
  display: block;
}

.menublock {
  display: none;
}

.flxmenu {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  position: relative;
}

.navpostion {
  background-color: #e0f2fe;
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 0;
  right: 0;
  position: absolute;
  padding: 1rem 0rem;
}

.resumeflx {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resumeflx1 {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ofwidth {
  width: 41%;
  padding-top: 0%;
}

.linkdinwdt {
  width: 75%;
}

.googlewdt {
  width: 75%;
}

@media (max-width: 1030px) {
  .ofwidth {
    width: 50%;
    padding-top: 0%;
  }
  .cardpart2 {
    background: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    // height: 60vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 2rem 0rem;
    margin-bottom: 0rem;
  }
}

@media (max-width: 780px) {
  .brandstract {
    width: 50%;
  }
  .resumeflx1 {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ofwidth {
    width: 80%;
  }
  .resumeflx {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .createflx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
  }
  .dflex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    text-align: center;
  }
  .dblock {
    display: none;
  }

  .menublock {
    display: block;
  }
  .navpostion {
    background-color: #e0f2fe;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 0;
    right: 0;
    position: absolute;
    padding: 1rem 0rem;
  }
  .cardpart2 {
    background: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1rem 0rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 450px) {
  .company {
    color: #3b4959;
    font-size: 11px;
    font-weight: 400;
    font-family: sans-serif;
  }
  .Signfont {
    color: #131f2f;
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
  }

  .card {
    background: #f9fdfa;
    height: 100%;
    width: 100%;
    padding: 1.5rem 0rem;
  }
  .brandstract {
    width: 70%;
  }
  .resumeflx1 {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ofwidth {
    width: 80%;
  }
  .resumeflx {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .createflx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
  }
  .dflex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    text-align: center;
  }
  .dblock {
    display: none;
  }

  .menublock {
    display: block;
  }
  .navpostion {
    background-color: #e0f2fe;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 0;
    right: 0;
    position: absolute;
    padding: 1rem 0rem;
  }
  .cardpart2 {
    background: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1rem 0rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 395px) {
  .ofwidth {
    width: 80%;
  }
}
